/*This file stores the overall styling information for the body of the application*/
html {
	overflow:hidden;
}
body {
	background: #ecf0f1;
}
@font-face {
	src: url('../assets/fonts/iconFont/fontawesome-webfont.ttf');
	font-family: Icon;
}
@font-face {
	src: url('../assets/fonts/Lato/Lato-Medium.woff');
	font-family: Lato;
}
@font-face {
	font-family: Icon;
	src: url('../assets/fonts/iconFont/fontawesome-webfont.ttf');
}
@font-face {
	font-family: Lato;
	src: url('../assets/fonts/Lato/Lato-Medium.woff');
}
@font-face {
	font-family: Lato Light;
	src: url('../assets/fonts/Lato/Lato-Light.woff');
}
#enterMenu {
	cursor: default;
	width: 50px;
	font-size: 35px;
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #bdc3c7;
	font-family: Icon;
	position: absolute;
	top: 0;
	left: 0;
	color: #7f8c8d;
}
#enterMenu > h3 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
#menu {
	background: #e74c3c;
	position: absolute;
	left: -100%;
	top: 0;
	width: 350px;
	text-align: center;
	color: #ecf0f1;
	font-family: Lato;
	font-size: 18px;
}
#chemStress {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	position: absolute;
	right: 0;
	top: 0;
	color: #7f8c8d;
	font-family: Lato;
	font-size: 1.5em;
}
.options {
	position: absolute;
	bottom: 0;
	height: 20%;
	border-top: 5px solid #7f8c8d;
	width: 25%;
	background: #bdc3c7;
	overflow: hidden;
}
#one {
	left: 0;
	border-right: 10px solid #7f8c8d;
}
#two {
	left: 25.5%;
	border-right: 10px solid #7f8c8d;
}
#three {
	left: 51%;
	border-right: 10px solid #7f8c8d;
}
#four {
	left: 76.5%;
}
.icon {
	font-family: Icon;
	color: #F64747;
	text-align: center;
	font-size: 30px;
	margin-top: 15%;
	-webkit-transition: all 0.5s;
}
.hidden {
	font-family: Lato;
	color: #F64747;
	text-align: center;
	min-font-size: 15px;
	max-font-size: 30px;
	margin-top: 35%;
	-webkit-transition: all 0.5s;
}
.options:hover .icon {
	margin-top: -30%;
	-webkit-transition: all 0.5s;
}

h1.subpageTitle {
	font-size:5vw;
	text-align:center;
	font-family:Lato;
	color:white;
	margin-top:32px;
}


#molarmass {
	height:100%;
	width:100%;
	background-color:#e74c3c;
	position:absolute;
	left:0;
	top:-100%;
	z-index:10;
}
#chemresearch {
	height:100%;
	width:100%;
	background-color:#e74c3c;
	position:absolute;
	left:0;
	top:-100%;
	z-index:10;
}
#reactionpredictor {
	height:100%;
	width:100%;
	background-color:#e74c3c;
	position:absolute;
	left:0;
	top:-100%;
	z-index:10;
}
#nameconverter {
	height:100%;
	width:100%;
	background-color:#e74c3c;
	position:absolute;
	left:0;
	top:-100%;
	z-index:10;
}


image.bottomArrow {
	width:10px;
	margin-left:45%;
}
#scrollUpThree {
	width:100%;
	background-color:#e74c3c;
	height:40px;
	float:down;
	text-align:center;
	position:absolute;
	bottom: 0;
	padding-top:5px;

}
#scrollUpThree:hover {
	width:100%;
	background-color:#c0392b;
	height:40px;	
}

#scrollUpOne {
	width:100%;
	background-color:#e74c3c;
	height:40px;
	float:down;
	text-align:center;
	position:absolute;
	bottom: 0;
	padding-top:5px;

}
#scrollUpOne:hover {
	width:100%;
	background-color:#c0392b;
	height:40px;	
}

#scrollUpTwo {
	width:100%;
	background-color:#e74c3c;
	height:40px;
	float:down;
	text-align:center;
	position:absolute;
	bottom: 0;
	padding-top:5px;

}
#scrollUpTwo:hover {
	width:100%;
	background-color:#c0392b;
	height:40px;	
}

#scrollUpFour {
	width:100%;
	background-color:#e74c3c;
	height:40px;
	float:down;
	text-align:center;
	position:absolute;
	bottom: 0;
	padding-top:5px;

}
#scrollUpFour:hover {
	width:100%;
	background-color:#c0392b;
	height:40px;	
}







#realTxt {
	color: white;
	font-family: Lato Light;
	text-align: center;
	font-size: 35px;
}
.body {
	font-family: Lato;
	font-size: 35px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
	background: #e74c3c;
	color: #ecf0f1;		
	-webkit-user-select: none;
	cursor: default;

}
.icon {
	font-family: Icon;
}
.studentInput {
	width: 70%;
	margin-left: 15%;	
	margin-top: 5%;
	border: 1.5px solid white;
	background: transparent;
	border-radius: 28.5px;
	font-size: 45px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
	color: white;
	font-family: Lato;
}
.studentInput:focus {
	outline: none;
	color: white;
	color: #F64747;
	background: #ecf0f1;
}
#praise {
	color:#ecf0f1;
	font-family: Lato Light;
	text-align: center;
	font-size: 32px;
	-webkit-user-select: none;
	cursor: default;
}