/*This file stores the code for the vial, which has been drawn into an html canvas*/
body {
	background-repeat: no-repeat; 
	background-size: 510px 390px;
	background-attachment: fixed;
	background-position:  center 90px;
    -webkit-animation-name: animation;  
    -webkit-animation-direction: normal; /* not "linear" */
	-webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 0.7s; 
    -webkit-animation-timing-function:steps(3, end);
}
@keyframes animation {
	0% {background-image: url('../assets/1.png')}
	12.5% {background-image: url('../assets/1.png')}
	25% {background-image: url('../assets/1.5.png')}
	37.5% {background-image: url('../assets/2.png')}
	50% {background-image: url('../assets/3.png')}
	62.5% {background-image: url('../assets/3.5.png')}	
	75% {background-image: url('../assets/4.png')}
	87.5% {background-image: url('../assets/5.png')}
}